{"filter":false,"title":".gitattributes","tooltip":"/Rail%20Road/.gitattributes","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1557161902898,"hash":"ae432728e383168912ab533b047b9d0ba1c26fb5"}